/build
/.idea
.gradle
.DS_STORE
*.iml
local.properties
*.hprof
.bundle/

# fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# bitrise
.bitrise.yml
bitrise.yml
