<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.algolia.instantsearch.guides">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/InstantSearchShowcase"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".directory.DirectoryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".gettingstarted.GettingStartedGuide"
            android:parentActivityName=".directory.DirectoryActivity" />

        <activity
            android:name=".places.PlacesActivity"
            android:parentActivityName=".directory.DirectoryActivity" />

        <activity
            android:name=".querysuggestion.QuerySuggestionActivity"
            android:parentActivityName=".directory.DirectoryActivity" />

        <activity
            android:name=".insights.InsightsActivity"
            android:parentActivityName=".directory.DirectoryActivity" />

        <activity
            android:name=".compose.ComposeActivity"
            android:parentActivityName=".directory.DirectoryActivity" />

        <activity
            android:name=".voice.VoiceSearchActivity"
            android:parentActivityName=".directory.DirectoryActivity" />

    </application>

</manifest>
