[versions]
algolia-client = "1.12.0"
compose = "1.0.1"
paging-compose = "1.0.0-alpha13"
coroutines = "1.5.0-native-mt"
ktor = "1.6.2"
work = "2.7.0"

[libraries]
# network
algolia-client = { group = "com.algolia", name = "algoliasearch-client-kotlin", version.ref = "algolia-client" }
ktor-client-okhttp = { group = "io.ktor", name = "ktor-client-okhttp", version.ref = "ktor" }

# kotlin
kotlinx-coroutines-core = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-core", version.ref = "coroutines" }
kotlinx-coroutines-android = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-android", version.ref = "coroutines" }
kotlinx-atomicfu = { group = "org.jetbrains.kotlinx", name = "atomicfu", version = "0.16.2" }

# android
androidx-compose-ui = { group = "androidx.compose.ui", name = "ui", version.ref = "compose" }
androidx-compose-material = { group = "androidx.compose.material", name = "material", version.ref = "compose" }
androidx-compose-paging = { group = "androidx.paging", name = "paging-compose", version.ref = "paging-compose" }
androidx-work = { group = "androidx.work", name = "work-runtime-ktx", version.ref = "work" }
androidx-core = { group = "androidx.core", name = "core-ktx", version = "1.6.0" }
androidx-appcompat = { group = "androidx.appcompat", name = "appcompat", version = "1.3.1" }
androidx-paging = { group = "androidx.paging", name = "paging-runtime", version = "2.1.2" }
androidx-recyclerview = { group = "androidx.recyclerview", name = "recyclerview", version = "1.2.1" }
androidx-swiperefreshlayout = { group = "androidx.swiperefreshlayout", name = "swiperefreshlayout", version = "1.1.0" }
google-material = { group = "com.google.android.material", name = "material", version = "1.4.0" }

# test
test-androidx-ext = { group = "androidx.test.ext", name = "junit", version = "1.1.3" }
test-androidx-runner = { group = "androidx.test", name = "runner", version = "1.4.0" }
test-androidx-espresso = { group = "androidx.test.espresso", name = "espresso", version = "3.2.0" }
test-androidx-work = { group = "androidx.work", name = "work-testing", version.ref = "work" }
test-robolectric = { group = "org.robolectric", name = "robolectric", version = "4.6.1" }
test-mockk = { group = "io.mockk", name = "mockk", version = "1.12.0" }
test-coroutines = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-test", version.ref = "coroutines" }
test-ktor-client-mock = { group = "io.ktor", name = "ktor-client-mock", version.ref = "ktor" }

# logging
slf4j = { group = "org.slf4j", name = "slf4j-api", version = "1.7.30" }
logback-classic = { group = "ch.qos.logback", name = "logback-classic", version = "1.2.3" }
