
#footer {
    position: relative;
    float: left;
    width: 100%;
    height: 200px;
    background: $deep-cove;
    margin-top: -60px;
    z-index: 1000;
}


@media (min-width: 1200px) {
    #footer:before {
        -webkit-transform:skewY(-3deg);
        transform: skewY(-3deg)
    }
}


@media (min-width: 1200px) {
    #footer:after {
        -webkit-transform:skewY(-2deg);
        transform: skewY(-2deg)
    }
}

#footer .credits {
    margin-top: 80px;
    text-align: center;
    position: relative;
    color: #8995c7;
    z-index: 99;
    line-height: 40px
}



@media (min-width: 1200px) {
    #footer .credits:before {
        -webkit-transform:skewY(-1deg);
        transform: skewY(-1deg)
    }
}

#footer h4 {
    line-height: 40px;
    border-bottom: solid 1px rgba(137,149,199,0.5)
}

#footer .footer-nav li {
    line-height: 1.7em
}

#footer .footer-nav li a {
    color: #8995c7;
    font-size: .9em
}

#footer .footer-nav li a:hover {
    color: #00aeff;
    text-decoration: none
}

#footer .network-links {
    margin: 0;
    padding: 0
}

#footer .network-links li {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
    margin: .5em .2em .5em 0
}

#footer .network-links li .btn {
    color: #8995c7;
    width: 38px;
    line-height: 40px;
    max-height: 38px;
    font-size: 24px;
    padding: 0;
    border: solid 1px rgba(137,149,199,0.4)
}

#footer .network-links li .btn:hover {
    color: white
}

#footer .newsletter-signup {
    position: relative
}

#footer .newsletter-signup .mc-signupmessage {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    z-index: 1;
    display: none;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out
}

#footer .newsletter-signup .mc-signupmessage svg {
    width: 15px;
    margin-left: 4px;
    vertical-align: middle
}

#footer .newsletter-signup .form-control {
    border-radius: 20px;
    line-height: 40px;
    padding: 0 16px;
    height: 40px;
    border: none;
    width: 230px
}

#footer .newsletter-signup--success .mc-signupmessage {
    -webkit-animation: fadeIn 200ms ease-in-out forwards;
    animation: fadeIn 200ms ease-in-out forwards;
    display: block
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}