section.pos-rel.h300.w100p.fl-left {
  min-height: 400px;
  background: $bunting;
  z-index: 999;
  padding-top: 200px;
  position: relative;
  top: -40px;
  margin-bottom: -40px;

  @include medium-mq {
    .row {
      float: none;
      margin: 0 auto;
    }
  }
}
body {
  overflow-x: hidden;

}
.cta-free-trial {
  margin-top: -16px;
  padding: 60px 0 60px;
  width: 100%;
  color: #FFF;
  background-image: url("../images/algolia-fast-bg.svg");
  background-size: cover;
  position: relative;
  float: left;
  transform: rotate(-3deg) scale(1.2) translateY(-120px);
  z-index: 20;
  margin-bottom: -120px;

  .container {
    z-index: 10;
    transform: rotate(3deg) scale(0.8);
  }

  h3 {
    font-size: 32px;
    color: #FFF;
    font-weight: 300;
  }
  p {
    font-size: 18px;
    line-height: 28px;
    color: #FFF;
    font-weight: 300;
  }
  .btn {
    float: right;
    clear: both;
  }
  .spacer24,
  .spacer8 {
    display: inline-block;
  }
  .link {
    clear: both;
    padding: 8px 0 0;
    float: right;
    color: rgba(#FFF, 0.8);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
    &:hover {
      text-decoration: none;
      color: #FFF;
    }
  }
  @media (max-width: 980px) {
    text-align: center;
    .btn {
      float: none !important;
    }
    .link {
      float:none !important
    }
  }
}