<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.algolia.instantsearch.showcase">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/InstantSearchShowcase"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".directory.DirectoryShowcase"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".highlighting.HighlightingShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".filter.clear.FilterClearShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".filter.current.ShowcaseFilterCurrent"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".filter.toggle.FilterToggleShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".filter.range.FilterRangeShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".filter.map.FilterMapShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".filter.list.FilterListAllShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".filter.list.FilterListFacetShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".filter.list.FilterListNumericShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".filter.list.FilterListTagShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".filter.facet.FacetListShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".filter.facet.FacetListSearchShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".filter.facet.FacetListPersistentShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".filter.numeric.comparison.FilterComparisonShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".search.SearchOnSubmitShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".search.SearchAsYouTypeShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".search.SearchAutoCompleteTextView"
            android:exported="true"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".list.paging.PagingSingleIndexShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".sortby.SortByShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".stats.StatsShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".loading.LoadingShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".list.paging.PagingMultipleIndexShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".list.merged.MergedListShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".hierarchical.HierarchicalShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".relateditems.RelatedItemsShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".customdata.QueryRuleCustomDataShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />
        <activity
            android:name=".filter.rating.RatingShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />

        <activity
            android:name="com.algolia.instantsearch.showcase.filter.facet.dynamic.DynamicFacetShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />

        <activity
            android:name="com.algolia.instantsearch.showcase.suggestion.QuerySuggestionShowcase"
            android:parentActivityName=".directory.DirectoryShowcase" />

        <activity
            android:name=".customdata.TemplateActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "algoliademo://discounts” -->
                <data
                    android:host="discounts"
                    android:scheme="algoliademo" />
                <data
                    android:host="help"
                    android:scheme="algoliademo" />
            </intent-filter>
        </activity>
    </application>

</manifest>