extends archetypes/single-column.pug

block content
  section.is-section__intro
    figure.section-illustration
      img(src="assets/img/search-focus.svg", width="380", class="searchfocus-illu")
      img(src="assets/img/autocomplete-dropdown-simple.svg", width="300", class="autocomplete-illu", data-move = '-y', data-threesold = '300', data-factor = '50')

    .container.center-text
      h2.title.
        We bring the power of Algolia to Android developers

      p.
        Algolia is a leading provider of Search as a Service, fast and fully-featured auto-completion menu for your search boxes, displaying results "as you type" with a seamless and instant user experience.

  section.is-section__modular-widget
    .container.flex-container.v-center
      .section-graphic.flex-two
        img(src="images/phone-build-3D.svg")
      .section-content.flex-two
        h2 modular widgets
        p A set of blocks to make your android development easier

  section.is-section__relevancy
    .container.flex-container.v-center
        .section-content.flex-two
          h2 Instant &amp; Relevant
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam

        .section-content.flex-two
          img(src="images/android-screen.svg", width="210")

  section.is-section__typo-tolerance
    .container.flex-container.v-center
        .section-content.flex-two
          img(src="images/typo-tolerant.svg")
        .section-content.flex-two
          h2 Typo Tolerant
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
  section.is-section__instant-faceting
    .container.flex-container.v-center
        .section-content.flex-two
          h2 Instant Faceting
          p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .section-content.flex-two
          img(src="images/facets-illus.svg")

  section.is-section__b
    .container.flex-container.v-center
      .section-content.flex-two
        h2 modular widgets
        p for building every part of your search interface
      .section-graphic.flex-two.center-text
        img(src="images/android-tile.svg")

  section.is-section__c
    .container.flex-container.v-center
      .section-graphic.flex-two
        img(src="https://www.algolia.com/static_assets/images/offline/illus-iphone-@3x-fcc30312.png", width="320")
      .section-content.flex-two
        h2 modular widgets
        p for building every part of your search interface
  //- section.is-section__b
  //-   .container
  //-    h2 more than widgets
  //-    p tools and helpers to make your development easier

  //- section.is-section__c
  //-   .container
  //-     h2 infinite possibilities
  //-     p tweak components and create custom widgets to build any interface you dream of

  section.is-section__footer
    div.footer__community
      .container
        figure
          svg.icon.icon-al
            use(xlink:href="#algolia-icon")
          svg.icon.icon-heart
            use(xlink:href="#heart-icon")
          svg.icon.icon-react
            use(xlink:href="#react-icon")
        h3 Join the community!

        ul
          li Share your awesome projects <svg><use xlink:href="#check-icon"></svg>
          li Find useful tips & solutions <svg><use xlink:href="#check-icon"></svg>
        a(href="https://discourse.algolia.com/c/instantsearch", class="btn btn-ghost btn-ghost-green") Join us on discourse&nbsp;&gt;

    div.footer__call-to-action
      .container
        h2 InstantSearch Android
        a(href="getting-started.html", class="btn btn-static-dark btn-shadow").
          Get started <svg><use xlink:href="#icon-arrow-right" /></svg>
        a(href="guide/", class="btn btn-static-dark btn-shadow").
          Guide <svg><use xlink:href="#icon-arrow-right" /></svg>

