<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.algolia.instantsearch.examples.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/InstantSearchExamples"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <profileable
            android:shell="true"
            tools:targetApi="q" />

        <activity
            android:name=".directory.DirectoryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Guides -->
        <activity
            android:name=".guides.gettingstarted.GettingStartedGuide"
            android:parentActivityName=".directory.DirectoryActivity" />
        <activity
            android:name=".guides.insights.InsightsActivity"
            android:parentActivityName=".directory.DirectoryActivity" />
        <activity
            android:name=".guides.compose.ComposeActivity"
            android:parentActivityName=".directory.DirectoryActivity" /> <!-- Showcase: Android View -->
        <activity
            android:name=".showcase.androidview.directory.AndroidViewDirectoryShowcase"
            android:parentActivityName=".directory.DirectoryActivity" />
        <activity
            android:name=".showcase.androidview.highlighting.HighlightingShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.filter.clear.FilterClearShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.filter.current.ShowcaseFilterCurrent"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.filter.toggle.FilterToggleShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.filter.range.FilterRangeShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.filter.map.FilterMapShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.filter.list.FilterListFacetShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.filter.list.FilterListNumericShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.filter.list.FilterListTagShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.filter.facet.FacetListShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.filter.facet.FacetListSearchShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.filter.facet.FacetListPersistentShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.filter.numeric.comparison.FilterComparisonShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.search.SearchOnSubmitShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.search.SearchAsYouTypeShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.list.paging.PagingSingleIndexShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.sortby.SortByShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.stats.StatsShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.loading.LoadingShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.list.paging.PagingMultipleIndexShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.hierarchical.HierarchicalShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.relateditems.RelatedItemsShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.customdata.QueryRuleCustomDataShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.filter.rating.RatingShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" />
        <activity
            android:name=".showcase.androidview.filter.facet.dynamic.DynamicFacetShowcase"
            android:parentActivityName=".showcase.androidview.directory.AndroidViewDirectoryShowcase" /> <!-- Showcase: Compose -->
        <activity
            android:name=".showcase.compose.directory.ComposeDirectoryShowcase"
            android:parentActivityName=".directory.DirectoryActivity" />
        <activity
            android:name=".showcase.compose.filter.current.FilterCurrentShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.filter.clear.FilterClearShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.filter.facet.FacetListShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.filter.facet.FacetListSearchShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.filter.facet.FacetListPersistentShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.filter.list.FilterListFacetShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.filter.list.FilterListNumericShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.filter.list.FilterListTagShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.filter.map.FilterMapShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.filter.numeric.comparison.FilterComparisonShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.filter.range.FilterRangeShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.filter.rating.RatingShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.filter.toggle.FilterToggleShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.hierarchical.HierarchicalShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.highlighting.HighlightingShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.list.paging.PagingSingleIndexShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.list.paging.PagingMultipleIndexShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.loading.LoadingShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.relateditems.RelatedItemsShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.search.SearchAsYouTypeShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.search.SearchOnSubmitShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.sortby.SortByShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.stats.StatsShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.customdata.QueryRuleCustomDataShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" />
        <activity
            android:name=".showcase.compose.filter.facet.DynamicFacetShowcase"
            android:parentActivityName=".showcase.compose.directory.ComposeDirectoryShowcase" /> <!-- Showcase: shared -->
        <activity
            android:name=".showcase.shared.customdata.TemplateActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "algoliademo://discounts” -->
                <data
                    android:host="discounts"
                    android:scheme="algoliademo" />
                <data
                    android:host="help"
                    android:scheme="algoliademo" />
            </intent-filter>
        </activity> <!-- Code Exchange -->
        <activity
            android:name=".codex.categorieshits.MainActivity"
            android:parentActivityName=".directory.DirectoryActivity" />
        <activity
            android:name=".codex.multipleindex.MainActivity"
            android:parentActivityName=".directory.DirectoryActivity" />
        <activity
            android:name=".codex.suggestions.query.MainActivity"
            android:parentActivityName=".directory.DirectoryActivity" />
        <activity
            android:name=".codex.suggestions.categories.MainActivity"
            android:parentActivityName=".directory.DirectoryActivity" />
        <activity
            android:name=".codex.suggestions.hits.MainActivity"
            android:parentActivityName=".directory.DirectoryActivity" />
        <activity
            android:name=".codex.suggestions.recent.MainActivity"
            android:parentActivityName=".directory.DirectoryActivity" />
        <activity
            android:name=".codex.voice.MainActivity"
            android:parentActivityName=".directory.DirectoryActivity" />
    </application>

</manifest>
